<section class="categorias">
	<div class="contenedor">
		<h2 class="texto-centro">Categorías</h2>
		<a href="#">
			<div class="caja-3 contenedor-flotante">
				<img
					src="images/pizza.jpg"
					alt="Pizza"
					class="img-responsive img-redondeado"
				/>
				<h3 class="texto-blanco texto-flotante">Pizzas</h3>
			</div>
		</a>
		<a href="#">
			<div class="caja-3 contenedor-flotante">
				<img
					src="images/CPapipizza.jpg"
					alt="CPapipizza"
					class="img-responsive img-redondeado"
				/>
				<h3 class="texto-blanco texto-flotante">Papipizza</h3>
			</div>
		</a>
		<a href="#">
			<div class="caja-3 contenedor-flotante">
				<img
					src="images/Hamburguer.jpg"
					alt="Hamburguer"
					class="img-responsive img-redondeado"
				/>
				<h3 class="texto-blanco texto-flotante">Hamburguesa</h3>
			</div>
		</a>
		<div class="limpiar"></div>
	</div>
</section>