<section class="footer">
        <div class="contenedor texto-centro">
                <p>
                        Thalia Torres
                       
                </p>
        </div>
</section>
</body></html>