<section class="menu-platos">
	<div class="contenedor">
		<h2 class="texto-centro">Nuestros Platos</h2>
		<!-- HAWAYANA -->
		{{#each this}}
			{{> card}}
		{{/each}}
		<div class="limpiar"></div>
	</div>
</section>